<!DOCTYPE html>
.main_chat
  .main_header
    .main_header__left-box
      .main_header__left-box--groupname groupname
      .main_header__left-box--member Member : name
    =link_to 'Edit','#', class:"main_header__edit_btn"

  .messages
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %i.messages__message--text 1aaaaaaaaaaaaaaaaaaaaaaaaa
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 2
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 3
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 4
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 5
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 6
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 7
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 8
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 9
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 10
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 11
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 12
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 13
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 14
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 15
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 16
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 17
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 18
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 19
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 20
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 21
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 22
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 23
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 24
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 25
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 26
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 2
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 3
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 4
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 5
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 6
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 7
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 8
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 9
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 10
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 11
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 12
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 13
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 14
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 15
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 16
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 17
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 18
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 19
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 20
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 21
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 22
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 23
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 24
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 25
    .messages__message
      %i.messages__message--name name
      %i.messages__message--date date
      %p.messages__message--text 26

  %form{:action => "/", :method => "post", :class => "form"}
    .form__new_message
      %input{:name => "text", :placeholder => "type a message", :type => "text", :value => "",:class => "form__new_message form__new_message--text"}
      %label{class:"form__new_message--img"}
        = icon('fas', 'image')
        %span<>
        %input{type: "file",class:"form__new_message--none"}
      %input{:type => "submit", :value => "Send", :class => "form__new_message form__new_message--send_btn"}
