<!DOCTYPE html>
.side_bar
  .side_header
    .side_header__name 
      = current_user.name
    =link_to new_group_path, class: "side_header__btn side_header__btn--edit" do
      = icon('far', 'edit')
    =link_to edit_user_path(current_user), class: "side_header__btn side_header__btn--cog" do
      = icon('fa', 'cog')
  .groups
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message latest_message