<!DOCTYPE html>
.side_bar
  .side_header
    .side_header__name name
    =link_to "#", class: "side_header__btn side_header__btn--edit" do
      = icon('far', 'edit')
    =link_to "#", class: "side_header__btn side_header__btn--cog" do
      = icon('fa', 'cog')
  .groups
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 2
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 3
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 4
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 5
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 6
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 7
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 8
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 9
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 10
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 11
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 12
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 13
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 14
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 15
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 16
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 17
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 18
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 19
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 20
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 21
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 22
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 23
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 24
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 25
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 26
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 27
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 28
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 29
    .groups__group
      .groups__group--name  name
      .groups__group--latest_message 30